<div class="filter sticky-top">
    <h3 class="filter_header">Фильтер</h3>
    <div class="search">
        <form class="form-inline" action="">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-2 w-75 rounded-pill" type="text" placeholder="Поиск"
             aria-label="Search" name="q">
        </form>
    </div>
    <h5 class="">Результат за период</h5>
    <form action="{{ request.path }}result/">
        <div class="form-row align-items-center">
        <div class="col-auto my-3">
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="s1">
              <option selected disabled>От</option>
              {% for month in month_list %}
                  <option value="{{ month }}">{{ month }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-auto my-3">
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="s2">
                <option selected disabled>До</option>
                {% for month in month_list %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
          </select>
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-outline-danger text-dark">Расчет</button>
        </div>
        </div>
    </form>
</div>