<table class="table">
    <thead class="table_head">
        <tr class="line_bottom">

            <th scope="col" rowspan="3">
                TO
            </th>
            <th scope="col" rowspan="3">
                 Город
            </th>
            <th scope="col" rowspan="3">
                Офис
            </th>
            {% for group, count in groups.items %}
                <th scope="col" colspan="{{ count }}">
                    {{ group }}
                </th>
            {% endfor %}
        </tr>
        <tr class="second">
            {% for indic in indicators %}
                 <th scope="col">
                    {{ indic.name }}
                 </th>
            {% endfor %}

        </tr>
        <tr class="third">
            {% for indic in indicators %}
                <th scope="col">
                    Результат за период
                </th>
            {% endfor %}

        </tr>
    </thead>
    <tbody class="table_body">
        <tr>
            <td>{{ department }}</td>
            <td> - </td>
            <td> - </td>
            {% for indic, val in res.items %}
                <td class="res_val">{{ val }}%</td>
            {% endfor %}
        </tr>
    </tbody>
</table>