<table class="table">
    <thead class="table_head">
        <tr class="line_bottom">

            <th scope="col" rowspan="3">
                TO
            </th>
            <th scope="col" rowspan="3">
                 Город
            </th>
            <th scope="col" rowspan="3">
                Офис
            </th>
            <th scope="col" colspan="2">
                Портфель
            </th>
            <th scope="col" colspan="2">
                Финансовые
            </th>
        </tr>
        <tr class="second">
            <th scope="col" class="line_left line_top">
                Активные клиенты
            </th>
            <th scope="col" class="line_top">
                 Кридитные карты
            </th>
            <th scope="col" class="line_top">
                NBI
            </th>
            <th scope="col" class="line_top">
                Costs
            </th>
        </tr>
        <tr class="third">
            <th scope="col" class="line_left">
                Результат за период
            </th>
            <th scope="col">
                 Результат за период
            </th>
            <th scope="col">
                Результат за период
            </th>
            <th scope="col">
                Результат за период
            </th>
        </tr>
    </thead>
    <tbody class="table_body">
        <tr>
            <td>{{ department }}</td>
            <td> - </td>
            <td> - </td>
            <td class="res_val">{{ res.ak }}%</td>
            <td class="res_val">{{ res.cc }}%</td>
            <td class="res_val">{{ res.nbi }}%</td>
            <td class="res_val">{{ res.costs }}%</td>
        </tr>
    </tbody>
</table>